---
title: Welkom
layout: default
description: Overzicht van alle manieren op te besparen ✅
---

<div class="banner-main">
    <div class="container">
        <div class="banner-content">
            <h1>Vergelijk en Bespaar!</h1>
            <p><a class="btn btn-default btn-lg" href="/vergelijken/overzicht" role="button">Vergelijk</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
       {% include besparen-vergelijken.html %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Blog</h2>
            {% for post in site.posts %}
            <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
                <div class="article-head">
                    <h3 class="title"><a data-tagname="div" href="{{ post.url }}/">{{ post.title }}</a></h3>
                    <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
                </div>
                <div class="article-content">
                    {{ post.description }}
                    <a href="{{ post.url }}/" class="full-post-link">Read more</a>
                </div>
            </article>
            {% if forloop.last %}{% else %}<div class="post-separater"></div>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>