<footer>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-sm-6 col-md-4">
                <h2>Vergelijk</h2>
                <p><a target="_blank" href="/vergelijken/alles-in-een.html">Alles in één</a></p>
                <p><a target="_blank" href="/vergelijken/dating.html">Dating</a></p>
                <p><a target="_blank" href="/vergelijken/loterijen.html">Loterijen</a></p>
                <p><a target="_blank" href="/vergelijken/telecom.html">Telecom</a></p>
                <p><a target="_blank" href="/vergelijken/vakantie.html">Vakantie</a></p>
                <p><a target="_blank" href="/vergelijken/whitelabeled-energie.html">Whitelabeled Energie</a></p>
                <p><a target="_blank" href="/vergelijken/boekhouden.html">Boekhouden</a></p>
                <p><a target="_blank" href="/vergelijken/sim-only.html">Sim-only</a></p>
                <p><a target="_blank" href="/vergelijken/uitvaartkosten.html">Uitvaartkosten</a></p>
                <p><a target="_blank" href="/vergelijken/wellness.html">Wellness</a></p>
                <p><a target="_blank" href="/vergelijken/zorgvezekering.html">Zorgverzkering</a></p>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4">
                <h2>Over de website</h2>
                <p><a target="_blank" href="https://esstudio.site/privacy-policy">Privacy</a></p>
                <p><a target="_blank" href="https://esstudio.site/terms-of-service">Algemene Voorwaarden</a></p>
                <p><a target="_blank" href="https://esstudio.site/contact">Contact</a></p>
            </div>

            <div class="col col-xs-12 col-sm-6 col-md-4">
                <h2>Social media</h2>
                {% include social.html %}
            </div>

            <div class="col col-xs-12 col-sm-6 col-md-4">
                <h2>Ontwikkelaar</h2>
                <p><a href="https://esstudio.site/" target="_blank">Projects</a></p>
                <p><a href="https://esstudio.site/contact" target="_blank">Contact</a></p>
                <p><a href="https://esstudio.site/blog" target="_blank">Blog</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="/assets/js//main.js"></script>