<div class="affiliate">
    <h3>Resources:</h3>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fweb-game-developers-cookbook-using-javascript-and-html5-9780134788333">Web
            game developers cookbook using javascript and html5</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fintroduction-to-game-design-prototyping-and-development-9780134659862">Game
            design with unity and C#</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Funity-2018-game-development-in-24-hours-sams-teach-9780134998138">Unity
            game development in 24 hours</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fgame-programming-in-c-plus-plus-creating-3d-games-9780134597201">Creating
            3D games in C++</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fdeveloping-ai-with-unreal-engine-4-breathe-life-into-9780134999951">Developing
            AI with Unreal Engine</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Ffind-training%2Ftraining-by-topic%2Fapp-development%2Fweb-development.html">More
            web development courses</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <p><a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=145238.10000683&type=3&subid=0">InformIT
            eBook Store</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.10000683&type=3&subid=0">
        has a large number of ebooks on a wide range of topcis. I would definitely recommend them</p>
    <h3>Great courses:</h3>
    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fgame-development-fundamentals-with-python.html">Game
            development fundamentals with python</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fpython-game-development-create-a-flappy-bird-clone.html">Create
            a Flappy Bird Clone with Python</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fgame-development-on-unity.html">Game
            Development on Unity</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fhtml5-game-from-scratch-step-by-step-learning-javascript.html">HTML5
            Game from scratch step by step learning JavaScript</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <p>
        <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">Quickstart
        </a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0">
        offers a large amount of (online) courses on game development (<a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">Use
            Code LSOFF50</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0">
        to get 50% off ;p).
    </p>
</div>