/* #FF8201 */

main {
    padding: 50px 0;
}

.navbar ul.nav>li.active>a {
    margin-bottom: -4px;
    height: 54px;
    display: block;
    border-bottom: 5px solid #FF8201;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand * {
    vertical-align: middle;
}

.navbar-brand img {
    height: 50px;
    display: inline-block;
    margin-top: -1px;
    ;
    margin-right: 7px;
}

.navbar .dropdown-menu li.active a {}

.rating-number {
    display: block;
    float: right;
    font-weight: bold;
}

.ratingValue {
    width: 100px;
    height: 18.75px;
    background: url('../img/stars.png') no-repeat left center;
    background-size: cover;
    display: inline-block;
    position: relative;
    float: right;
    color: transparent;
}

.ratingValue span {
    background: url('../img/stars-full.png') no-repeat left center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner-content {
    margin-top: 170px;
    color: #fff;
}

.banner-content>* {
    color: #fff;
}

.banner-main {
    background: url('../img/money-orange.jpg') no-repeat center center;
    background-size: cover;
    height: 450px;
}

.banner-custom {
    background: rgba(255, 255, 255, 0) no-repeat center center;
    background-size: cover;
    height: 450px;
    margin-bottom: 50px;
    overflow: hidden;
}

.banner-custom * {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.banner-custom h1 {
    margin-top: 170px;
}

.banner-vergelijken {
    background: url('../img/accounting-calculator-flipped.jpg') no-repeat center center;
    background-size: cover;
    height: 450px;
}

.banner-coupon {
    background: url('../img/adult-application-orange.jpg') no-repeat center center;
    background-size: cover;
    height: 450px;
}

.banner-coupon * {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.banner-coupon h1 {
    margin-top: 170px;
}

.verdienen-links img {
    width: 100%;
}

footer {
    background: #3498DB;
}

footer h2 {
    color: #fff;
    border-bottom: 2px solid #FF8201;
    padding-bottom: 5px;
}

footer ul {
    padding-left: 0;
}

footer a {
    color: #fff !important;
}

.svg-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    fill: #fff;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
    list-style-type: none;
    margin-left: 0;
}

.social-media-list li {
    padding-top: 5px;
    display: inline-block;
}

.social-media-list .username {
    display: none;
}

.vergelijkers-overzicht {
    padding: 20px 0;
}

.vergelijkers-overzicht .panel {
    max-width: 300px;
    margin: 20px auto;
}

.vergelijkers-overzicht .panel img {
    width: 100%;
}

.vergelijkers-overzicht .panel .text {
    min-height: 85px;
}

@media screen and (min-width: 892px) {
    .vergelijkers-overzicht {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 762px) {
    .vergelijkers-overzicht .col {
        width: 100%;
    }
}

@media screen and (max-width: 512px) {
    .col-xxs-12 {
        width: 100%;
    }
    .col-xxs-6 {
        width: 50%;
    }
}

.clearfix {
    clear: both;
}

.vergelijk-widget-container {
    padding-top: 10px;
    padding-bottom: 40px;
}

.vergelijk-widget-container::after {
    content: "";
    display: block;
    clear: both;
}

.post-seperator {
    border-top: 1px solid #ccc;
}

.nopadding {
    padding: 0;
}

.homepage-vergelijker {
    padding: 4px;
}

.homepage-vergelijker img {
    width: 100%;
}

.list-style-none {
    list-style: none;
}

#product-feed article {
    position: relative;
    min-height: 500px;
}

@media screen and (min-width: 512px) {
    #product-feed .article-footer {
        height: 40px;
        box-shadow: 0 -10px 15px #fff, 0 -10px 15px #fff;
        position: absolute;
        background: #fff;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #product-feed article {
        overflow-y: hidden;
        height: 500px;
    }
}

#product-feed .price-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#product-feed .price,
#product-feed .priceold {
    margin-left: 7px;
    font-size: 1.5em;
}

#product-feed .price {
    color: #FF8201;
    font-weight: bold;
}

#product-feed .priceold {
    color: #ccc;
    text-decoration: line-through;
}

[data-show-on-site=false] {
    display: none;
}

.vergelijk-widget-container .row {
    padding: 10px;
    padding-top: 5px;
}

.geld-verdienen-row {
    padding-top: 30px;
}

.col-visible-xxs-6 {
    display: none;
}

@media screen and (max-width: 512px) {
    .col-visible-xxs-6 {
        display: block;
    }
}

.enter-content img {
    max-width: 100%;
}