---
layout: default
---
{% if page.banner_image %}
<div class="banner-custom" style="background-image: url('{{ page.banner_image }}')'">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
</div>
{% endif %}

<div class="container">
  <div class="row">
    {% include besparen-vergelijken.html %}
  </div>
  <div class="col-xs-12 col-md-9">
    <div class="container-fluid">
      <article class="row">
        <header class="blog-header text-center">
          <h3>
            <span>{{ page.date | date: '%d' }}</span> {{ page.date | date: '%B %Y' }}
            <h2> {{ page.title }}</h2>
        </header>
        {% if post.image %}
        <figure>
          <img src="{{ page.image }}" alt="{{ page.title }} image" class="img-responsive" /> </figure>
        {% endif %}
        <div class="enter-content">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>